{% extends "base.html" %}
{% load static % }
{% load bag_tools %}

{% block content %}
<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="h2 p-3">Your shopping bag</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col">
                    
                    {% if bag_items %}
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                    {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3">
                                            <p>{{ item.product.friendly_name}}</p>
                                        </td>
                                        <td class="p-3">
                                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                                {%csrf_token%}
                                                <div class="form-group ">
                                                    <div class="input-group ">
                                                      <div class="input-group-prepend">
                                                        <button type="button" class="decrement-qty btn btn-sm " data-item_id="{{item.item_id}}"
                                                          id="decrement-qty_{{ item.item_id }}">
                                                          <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                          </span>
                                                        </button>
                                                      </div>
                                    
                                                      <input class="form-control form-control-sm qty_input text-center' " type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                        max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    
                                                      <div class="input-group-append">
                                                        <button type="button" class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                          id="increment-qty_{{ item.item_id }}">
                                                          <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                          </span>
                                                        </button>
                                                      </div>
                                                      
                                                    </div>
                                                </div>
                                                
                                            </form>
                                            <a class="text-info update-link cursor-arrow" href="">Update bag</a>
                                            <a class="text-danger remove-link cursor-arrow" href="" id="remove_{{ item.item_id }}">Delete from bag</a>   
                                        </td>
                                        <td class="p-3">
                                            <p>{{ item.product.price}}</p>
                                        </td>
                                        <td class="p-3">
                                            <p>${{ item.product.price | calc_subtotal:item.quantity }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr >
                                        <td colspan="3" class="p-3">
                                            
                                        </td>
                                        <td class="p-3">
                                            <h3>Total: ${{ total|floatformat:2 }}</h3>
                                        </td>
                                    </tr>
                            </table>

                        </div>
                    {% else %}
                        <p>There is nothing in your shopping bag at the moment</p>
                    {% endif %}
                </div>
                <div>
                    <a class="navlink" href="{% url 'home' %}">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    
     // update bad line
     $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        console.log('your message');
        form.submit();
    })

    // Delete bag line
    
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data).done(function() {
             location.reload();
         });
    })
</script>


{% endblock %}


{% endblock %}