{% extends "base.html" %}
{% load static % }

{% block content %}
<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="h2 p-3">Your shopping bag</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col">
                    {{ bag_items}}
                    <hr>
                    {{ request.session.bag }}
                    {% if bag_items %}
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                    {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3">
                                            <p>{{ item.product.friendly_name}}</p>
                                        </td>
                                        <td class="p-3">
                                            <p>{{ item.quantity}}</p>
                                        </td>
                                        <td class="p-3">
                                            <p>{{ item.product.price}}</p>
                                        </td>
                                        <td class="p-3">
                                            <p>${{ item.product.price }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </table>

                        </div>
                    {% else %}
                        <p>There is nothing in your shopping bag at the moment</p>
                    {% endif %}
                </div>
                <div>
                    <a class="navlink" href="{% url 'home' %}">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}