{% extends 'base.html' %}

{% load static %}



{% block content %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<!-- Section is taken from https://www.w3schools.com/howto/howto_css_hero_image.asp -->
<div class="hero-image">
    <div class="hero-text">
      <h1><strong>Sanitas Gym:</strong></h1>
      <p class="h5">Nr.1 in Stockholm Södermalm</p>
      <p class="h5">Great exercise enviroment</p>
      <p class="h5">Top class equipment</p>
    </div>
</div>
<!-- End of section -->
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8  offset-lg-2 text-center my-5">
            <h2><strong>An affordable and reliable gym near you</strong></h2>
            <p >Everybody deserves a great gym!
                 No matter who you are, where you are from or why you exercise.
                We deliver a great exercise enviroment with top class equipment to affordable prices.
                There is no coincidence we are the top gym in Södermalm. 
                On top of a great gym experience we also offer a variety of <strong>fitness classes</strong> to suite your needs.
                If you need an extra boost to your training you can schedule on of our knowledgeable <strong>personal trainers</strong>.
                After your gym exercises take a moment to recoperate in our <strong>pool and sauna</strong>.
             </p>
        </div>
        <hr>
        <div class="col-lg-8  offset-lg-2 text-center my-5">
             
             <h3 class="h4"> Below you can find som useful links to get you inspired</h3>
             
             <ul class="list-group">
                <li class="list-group-item"><a href="https://www.nuffieldhealth.com/article/gym-workouts-for-beginners" aria-label="Gym exercises for all" target="_blank" rel="noopener"><strong> Useful gym exercises</strong></a></li>
                <li class="list-group-item"><a href="https://www.nhs.uk/live-well/exercise/running-and-aerobic-exercises/how-to-stretch-after-exercising/" aria-label="Post exercise stretches" target="_blank" rel="noopener"><strong> Post workout stretches</strong></a></li>
             </ul>
        </div>
        
    </div>
</div>
<hr>
<h2 id="find_us" class="find-us text-center my-5 h1">Find Us</h2>
<div class="container">
    <div class="row ">
        <div class="col-sm-6 d-flex justify-content-center d-flex align-items-center h5">
            <p>
                <strong>Sanitas Gym</strong><br>
                Samaritgränd 6<br>
                11853 Stockholm<br>
                Sweden
            </p>
        </div>
        <div class="col-sm-6">
            <div class="find-us-container d-flex justify-content-center align-items-center my-2" id="map"></div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row d-flex justify-content-center my-5">
        <div class="col-md-6 d-flex justify-content-center">

            <!-- Begin Mailchimp Signup Form -->
            <!-- Code below is taken from Mailchimp.com -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
           
            <div id="mc_embed_signup">
                <form
                    action="https://prylio.us8.list-manage.com/subscribe/post?u=63a6f1885c41fdf4262e55a98&amp;id=5954d02941&amp;f_id=00a805e0f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to our newsletter</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_63a6f1885c41fdf4262e55a98_5954d02941" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button">
                                <p class="brandingLogo"><a href="http://eepurl.com/ii6dM5"
                                        title="Mailchimp - email marketing made easy and fun"><img
                                            src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp logo"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->
            
            <!-- Google maps script -->
            <!-- Code in this section is taken from Code institute lesson on Google maps api -->
            <script>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 17,
                        center: {
                            lat: 59.316707260139665,
                            lng: 18.054762735582162

                        }
                    });
                    var labels = "ABCDEFGHIJKLMNOPQRSTUVXYZÅÄÖ";
                    var locations = [{lat: 59.316707260139665, lng: 18.054762735582162}]
                    
                    var markers = locations.map(function(location, i) {
                        return new google.maps.Marker({
                            position: location,
                            label: labels[i % labels.length]
                        });
                    });
                    var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
                }
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
            <script async
        
            src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEKEY}}&callback=initMap">
            
            
            </script>
            <!-- End of section -->
        </div>
    </div>
</div>


{% endblock %}