<!-- Most structure and logic is taken from boutique ado walk through project
https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/
250e2c2b8e43cccb56b4721cd8a8bd4de6686546/profiles/templates/profiles/profile.html
-->
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="overlay">
  <div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="h2 p-3">Your user profile </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="h5">Your customer information:</h5>
            <hr>
            <form class=" m-3 d-grid" method="POST" action="{% url 'profile' %}" id="profile-update-form">
              {% csrf_token %}
              {{ form }}
              <button class="btn btn-success mt-3 ">UPDATE</button>
            </form>
          </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="h5">Your order history:</h5>
        <hr>
        <div class="table-responsive">
            <table class="table">
              <thead class="my-table-head">
                <tr>
                  <th>Order number</th>
                  <th>Purchase date</th>
                  <th>Personal trainer session</th>
                  <th>Quantity</th>
                  <th>Order amount</th>
                </tr>
              </thead>
              <tbody class="my-table-body">
                {% for order in orders %}
                  <tr>
                    <td>
                      <p title="{{order.order_number}}">{{order.order_number|truncatechars:3}}</p>
                    </td>
                    <td>
                      {{order.date}}
                    </td>
                    <td>
                        {% for item in order.lineitems.all %}
                          {{ item.product.friendly_name }}
                        {% endfor %}
                    </td>
                    <td>
                      {% for item in order.lineitems.all %}
                          {{ item.quantity }}
                      {% endfor  %}
                    </td>
                    <td>
                      {{ order.total }}$
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            {% if not orders %}
              <h5 class="h5">You have not made any orders</h5>
            {% endif%}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
