{% extends "base.html" %}
{% load static %}





{% block content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}



<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="h2 p-3">My User Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Your customer information:</h5>
                <form class=" m-3 d-grid" method="POST" action="{% url 'profile' %}" id="profile-update-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success mt-3">Update</button>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Active subscription:</h5>
                    <div class="container mt-5">
                        {% if subscription.status == "active" %}
                          <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{ product.name }}</h5>
                              <p class="card-text">
                                {{ product.description }}
                              </p>
                              
                            </div>
                          </div>
                        {% else %}
                          <h5>There is no active subscription</h5>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ profile }}
{% endblock %}
