
.my-nav {
    background-color: violet;
    
}

.my-nav-text a {
    color:azure;
}

.navbar-nav > .active > a {
    color: yellow ;
}

/* Css for the subscriptions page */

.card-background {
    background-image: linear-gradient(to bottom right, rgba(243, 83, 247, 0.74), rgba(243, 83, 247, 0.44));
}