/* google font import*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    
}

* {
    margin: 0;
}
/* Css for navbar*/

.my-logo {
    color: black;
    font-size: 35px;
}

.my-membersbag {
    font-size: 25px;
    color: black;
}

@media only screen and (max-width: 600px) {
    .my-logo {
      font-size: 30px;
    }
    .my-membersbag {
        font-size: 20px;
      }
}



/* media screens under 500px */
@media only screen and (max-width: 500px) {
    .my-logo {
      font-size: 20px;
    }
    .my-membersbag {
        font-size: 10px;
      }
}

/* Css for navbar */  
.my-nav-top {
    background-color: rgba(42, 76, 246, 0.7);
    
}

.nav-icon{
    padding-right: 1%;
}

.my-nav {
    background-image: linear-gradient( rgba(42, 76, 246, 0.7), rgba(42, 76, 246, 0.5));
    
}

.my-nav-text a {

    color: black;
    font-size: x-large;
}

/* Css for cards on the site */

.card-whole {
    background-image: linear-gradient(to bottom right, rgba(42, 76, 246, 0.7), rgba(42, 76, 246, 0.5));
    margin-right: 5%;
    margin-top: 5%;
}

.card-center {
    box-shadow: 3px 3px 10px;
}

/* Bag page */

.cursor-arrow {
    cursor: pointer;
}

/* Fotter css */

.my-footer {
    
    background-color: rgba(42, 75, 246, 0.5);
}

/* Css for error pages*/

.error-container {
    background-image: linear-gradient( rgba(42, 75, 246, 0.7), rgba(50, 41, 255, 0.3));
    color: black;
    font-size: xx-large;
}

/* Hide number arrows in numbers input
Code is from w3 https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}