.my-nav-top {
    background-color: rgba(50, 41, 255, 1);
    
}

.nav-icon{
    padding-right: 1%;
}

.my-nav {
    background-image: linear-gradient( rgba(50, 41, 255, 1), rgba(50, 41, 255, 0.63));
    
}

.my-nav-text a {
    color:azure;
}



/* Css for the subscriptions page */

.card-whole {
    background-image: linear-gradient(to bottom right, rgba(42, 76, 246, 0.81), rgba(42, 76, 246, 0.54));
    margin-right: 5%;
}

.card-center {
    box-shadow: 3px 3px 10px;
}

