{% extends "base.html" %}
{% load static %}

{% block content %}

<script src="{% static 'subscriptions/js/stripe_subscriptions.js' %}"></script>

<div class="container">
    <div class="row gy-3 justify-content-center mr-3">
        {% for plan in plans %}
        <div class="card mb-3 card-whole" style="max-width: 18rem;">
          <div class="card-header bg-transparent h2">{{plan.metadata.name}}</div>
            <div class="card-body ">
              <h5 class="card-title">{{plan.description}}</h5>
              <ul class="list-group list-group-flush card-center rounded">
                <!-- <li class="list-group-item"> {{plan.description}}</li> -->
                <li class="list-group-item"> {{plan.metadata.include_1}}</li>
                <li class="list-group-item"> {{plan.metadata.include_2}}</li>
                <li class="list-group-item"> {{plan.metadata.include_3}}</li>
                
              </ul>
              
            </div>
            <div class="card-footer bg-transparent text-center ">
              <h4 class="h4">{{plan.amount}} $ / Month</h4>
              <!-- <form class="form" action="#" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <input type="hidden" name="quantity" value="1">
                <input type="submit" class="btn btn-success mb-3 text-uppercase mt-5 " id="submitBtn" value="Subscribe">
                  
              </form> -->
              <input type="checkbox" name="{{plan.metadata.name}}" value="{{plan.id}}" onclick="planSelect('{{plan.metadata.name}}' ,'{{plan.amount}}', '{{plan.id}}')">
              <h4>Sign up today</h4>
              
            </div>
          </div>
          {% endfor %}
          <div>
            <div class="col-6 text-right">
              <p id="plan"></p>
              <p id="price"></p>
              <p hidden id="priceId"></p>
            </div>
            <div class="container mt-5">
              <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
            </div>
            
         </div>
    </div>       
{% endblock %}
