{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <title>Sanitas Gym</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sanitas gym in södermalm stockholm Sweden, 
  affordable gym with pool sauna, options to book personal trainer or fitness classes">
  <meta name="keywords" content="gym, affordable gym, gym södermalm, best gym södermalm, 
  gym with fitness class, personal trainer, gym with sauna, gym with pool ">
  {% endblock %}
  {% block corecss %}
  <!-- Bootstrap Css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- My own style sheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}
  {% block corejs %}
  <!-- Font Awsome -->
  <script src="https://kit.fontawesome.com/cdec7b7e90.js" crossorigin="anonymous"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon_sanitas.png' %}"/>
  <!-- Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <!-- Bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <!-- stripe js -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}
  <title>Sanitas Gym {% block extratitle %}{% endblock %}</title>
</head>

<body>
  <header class="">
    <div class="container-fluid p-0 m-0 ">
      <div class="row p-0 m-0">
        <div class="col-12 my-nav-top d-flex">

          <div class=" py-2 fs-5 d-flex align-items-center">
            <a class="navbar-brand px-4 my-logo " href="{% url 'home' %}">SANITAS GYM</a>
          </div>

          <div class=" py-2 px-4 fs-4 d-flex flex-grow-1 justify-content-end my-membersbag" >
            <a class="nav-link d-flex align-items-center nav-icon my-membersbag {% if request.resolver_match.url_name == 'profile' %}active text-decoration-underline{% endif %}" aria-label="Opens members page" rel="noopener" href="{% url 'profile' %}"><i class="fa-solid fa-user nav-icon mx-2"></i>Members</a>
            <a class="nav-link d-flex align-items-center nav-icon my-membersbag " aria-label="Opens shoppingbag" rel="noopener" href="{% url 'view_bag' %}"><i class="fa-solid fa-cart-shopping nav-icon mx-2"></i>
            <span class="my-membersbag "></a><p class=" my-membersbag mt-3 {% if request.resolver_match.url_name == 'view_bag' %}active text-decoration-underline{% endif %}">{% if total %}
              ${{ total|floatformat:2 }}
              {% else %}
              0.00 $
              {% endif %}</p></span>
            
          </div>

        </div>
      </div>
    </div>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
      <div class="container-fluid pl-5 m-0 my-nav py-3">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-1 w-100" id="navbarNavAltMarkup">
          <div class="navbar-nav my-nav-text w-100 d-flex ">
            <a class="nav-link active {% if request.resolver_match.url_name == 'home' %}active text-decoration-underline{% endif %}" aria-current="page" href="{% url 'home' %}"><strong>Home</strong></a>
            <a class="nav-link {% if request.resolver_match.url_name == 'stripe_subscriptions' %}active text-decoration-underline{% endif %}" href="{% url 'stripe_subscriptions' %}" aria-label="Opens subscriptions page" rel="noopener">Gym subscriptions</a>
            <a class="nav-link {% if request.resolver_match.url_name == 'pt_sessions' %}active text-decoration-underline{% endif %}" href="{% url 'pt_sessions' %}" aria-label="Opens personal trainer page" rel="noopener">Personal trainer</a>

            {% if user.is_authenticated %}
            <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active text-decoration-underline{% endif %} " href="{% url 'account_logout' %}" aria-label="Opens log out page" rel="noopener">Logout</a>

            

            {% else %}
            <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}active text-decoration-underline{% endif %}" href="{% url 'account_signup' %}" aria-label="Opens signup page" rel="noopener">Register</a>
            <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active text-decoration-underline{% endif %}" href="{% url 'account_login' %}" aria-label="Opens login page" rel="noopener">Login</a>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-6 offset-3">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
        </div>
      </div>
    </div>
    
   
    

  </header>
  <!-- Main content section -->
  <main>
    {% block content %}

    {% endblock %}
  </main>
  
<!-- Timer function below is taken from code institute lesson -->
  <script>
      setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
      }, 5000);
  </script>
  <!-- Footer section-->
  <footer>
    <div class="container-fluid my-footer mt-5">
        <div class="row">
            
            <div class="d-flex justify-content-center text-center my-3 ">
                <div class="col-sm-6 text-center my-nav-text"><span><h5>Visist us on our facebook page:</h5></span><a href="https://www.facebook.com/profile.php?id=100090010132752&sk=about" target="_blank"
                  aria-label="Opens Facebook in a new window" rel="noopener"><i class="fa-brands fa-facebook fa-xl"></i></a></div>
            </div>
        </div>
    </div>
  </footer>
</body>

</html>