
/* Stripe inputs */
.StripeElement
{
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

