{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row  ">
    <h1 class="fs-3 my-3 text-center">Personal trainer</h1>
    <p class="card-text col-xs-12 col-md-8 text-center m-auto my-3" >Here you can schedule a session with one of our personal trainers.
      All you have to do is log in, purchase a session and then schedule it at a time that fits you. 
      One session lasts one hour and you can change the appointment time or cancel the appointment up to one hour before it starts. </p>
      <hr>
      {% if not user.is_authenticated %}
      
      <a class="fs-3 my-3 text-center tex-underline" href="{% url 'account_login' %}" aria-label="opens log in page" rel="noopener">You must be logged in to purchase and schedule personal trainer sessions</a>
    
      {% else %}
    
    <div class="col-md-8 col-xs-12 m-auto my-3 ">
      <div class="card my-3 m-auto" >
        <div class="card-body">
          <h5 class="card-title">Schedule a session</h5>
          <h6 class="card-subtitle mb-2 text-muted">You have {{available_appointments}} sessions available</h6>
          <h6 class="card-subtitle mb-2 text-muted">You have {{scheduled_sessions}}  scheduled sessions at the moment</h6>
          <hr>
          <form method="POST" class="form m-auto my-3 text-center" >
              <br>
              {% csrf_token %}
              {{ form }}
              <br>
              <button type="submit" class="btn btn-success my-3" >SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row ">
    <div class="col-lg-6 d-flex justify-content-center ">
      <div>
        <h3 class="text-center py-3">Available offers from our personal trainers</h3>
        <hr>
          {% for pt_session in pt_sessions %}
          <div class=" m-auto card p-0 m-3 card-whole card-center" style="width: 22rem;">
            <img class="card-img-top img-fluid rounded-start"
            src="{{ MEDIA_URL }}personal_trainer_gym.jpg"
              alt="Personal trainer">
            <div class="card-body">
              <h5 class="card-title">{{pt_session.friendly_name}}</h5>
              <p class="card-text">{{pt_session.description}}</p>
              <p class="card-text h4 text-center">{{pt_session.price}} $ / Hour</p>
              <div class="card-text text-center">
                <form class="form" action="{% url 'add_bag_item' pt_session.id %}" method="POST" id="hours">
                  <label for="hours">Number of hours:</label>
                  {% csrf_token %}
                  <div class="form-group input-group w-50 d-flex justify-content-center  m-auto ">
                    <div class="input-group-prepend ">
                      <button aria-label="decrement" type="button" class="decrement-qty btn " data-item_id="{{pt_session.id}}"
                      id="decrement-qty_{{pt_session.id}}">
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                    </div>
                    <input aria-label="input hour quantity" class="form-control qty_input text-center" type="number" name="quantity" value="1" min="1"
                    max="99" data-item_id="{{ pt_session.id }}" id="id_qty_{{ pt_session.id }}">
                    <div class="input-group-append">
                      <button aria-label="Increment" type="button" class="increment-qty btn" data-item_id="{{pt_session.id}}"
                      id="increment-qty_{{pt_session.id}}">
                      <span class="icon">
                        <i class="fas fa-plus"></i>
                      </span>
                      </button>
                    </div>
                  </div>
                  <div>
                    <input type="hidden" name="redirect_url" value="{{request.path}}">
                    <input type="submit" class="btn btn-success mb-3 text-uppercase mt-5" value="Add to bag">
                  </div>
                </form>
              </div>
            </div>
          </div>  
          {% endfor %}
      </div> 
    </div>

    <div class="col-lg-6 d-flex justify-content-center text-center">
      <div>
        <h3 class="text-center py-3">Scheduled sessions</h3>
        <hr>
        {% for appointment in appointments %}
        <div class="card col-md-12 my-3 m-auto card-whole card-center">
          <div class="card-body">
            <h5 class="card-title">Personal trainer session</h5>
            <h6 class="card-subtitle mb-2 text-muted">This is your scheduled session with a personal trainer</h6>
            <p class="card-text">{{appointment.date_time}}</p>
            {% if change_time >= appointment.date_time %}
              <p class="h6">This session can't be edited becauses it has been completed or it is starting soon</p>
            {% else%}
              <button class="btn btn-danger mb-1 " type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                CANCEL SESSION</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Warning!</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to cancel your session?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'delete_appointment' appointment.id %}" class=" link-light btn btn-success">CANCEL</a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-success mb-1" aria-label="opens edit appointment page" rel="noopener">EDIT</a>
            {% endif %}
          </div>
        </div>
        {% endfor%}
        {% if not appointments %}
        <p class="h6">There are no scheduled appointments</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

{% endblock %}



